header {
    background-color: blanchedalmond; 
}

article {
    background:  #F0F8FF;
    display: flexbox; 
    flex-wrap: wrap;
}
section.main {
    margin-left: 10px;
    margin-right: 10px; 
}
section.sources {
    margin-left: 10px;
    margin-right: 10px;
    border: 5px, black; 
}